<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <servlet-name>s</servlet-name>
    <servlet-class>Bank_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s</servlet-name>
    <url-pattern>/bank</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s1</servlet-name>
    <servlet-class>Search_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s1</servlet-name>
    <url-pattern>/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s2</servlet-name>
    <servlet-class>Login_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s2</servlet-name>
    <url-pattern>/next</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s3</servlet-name>
    <servlet-class>Withdrwal_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s3</servlet-name>
    <url-pattern>/withdrawl</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s4</servlet-name>
    <servlet-class>Transfer_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s4</servlet-name>
    <url-pattern>/transfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s5</servlet-name>
    <servlet-class>Final_Transfer_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s5</servlet-name>
    <url-pattern>/finaltransfer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s51</servlet-name>
    <servlet-class>Output_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s51</servlet-name>
    <url-pattern>/output</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s61</servlet-name>
    <servlet-class>Check_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s61</servlet-name>
    <url-pattern>/check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s71</servlet-name>
    <servlet-class>Delete_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s71</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s81</servlet-name>
    <servlet-class>Deposit_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s81</servlet-name>
    <url-pattern>/deposit</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s91</servlet-name>
    <servlet-class>Doutput_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s91</servlet-name>
    <url-pattern>/doutput</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s991</servlet-name>
    <servlet-class>Client_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s991</servlet-name>
    <url-pattern>/client</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>s9910</servlet-name>
    <servlet-class>Password_Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>s9910</servlet-name>
    <url-pattern>/passwordcheck</url-pattern>
  </servlet-mapping>
</web-app>